{% include "navbar.html" %}


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">

            <h1 class="cover-heading"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-thumbnail" ></h1>
    <p class="lead">Audio Steuerungssoftware für Digitale Mischpulte für das Theater.</p>
    <p class="lead">
        
    </p>

        </div>
    </div>
   
</div>







  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>(c) Michael Völker 2032 <a href="https://github.com/michi46887/perfomance_pro">GitHub</a></p>
    </div>
  </footer>

  {% include 'footer.html' %}